<% @user ||= current_user %>
<div class="stats">
    <strong id="completed" class="stat">
    </strong>
    12 Ideas Planned</br>
  </a>
    <strong id="planned" class="stat">
    </strong>
    24 Ideas Completed
  </a>
</div>